@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgba(217, 217, 217, 0.8); }

.ibg > img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

body._lock {
  overflow: hidden; }

.n {
  padding-bottom: 540px; }

/*--------------------*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?hathb9");
  src: url("../fonts/icomoon.eot?hathb9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?hathb9") format("truetype"), url("../fonts/icomoon.woff?hathb9") format("woff"), url("../fonts/icomoon.svg?hathb9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-Arrow-Caret-Down:before {
  content: "\e900"; }

.icon-CaretDown:before {
  content: "\e901"; }

.icon-ChartPieSlice:before {
  content: "\e902"; }

.icon-Clock:before {
  content: "\e903"; }

.icon-Coins:before {
  content: "\e904"; }

.icon-EyeSlash:before {
  content: "\e905"; }

.icon-fi_list:before {
  content: "\e906"; }

.icon-Frame:before {
  content: "\e907"; }

.icon-House:before {
  content: "\e908"; }

.icon-Info:before {
  content: "\e909"; }

.icon-Megaphone:before {
  content: "\e90a"; }

.icon-Moon:before {
  content: "\e90b"; }

.icon-Not-Icon:before {
  content: "\e90c"; }

.icon-planet:before {
  content: "\e90d"; }

.icon-Profile:before {
  content: "\e90e"; }

.icon-Question:before {
  content: "\e90f"; }

.icon-Scroll:before {
  content: "\e910"; }

.icon-Sun:before {
  content: "\e911"; }

.icon-Swap:before {
  content: "\e912"; }

.icon-telegram:before {
  content: "\e913"; }

.icon-UsersThree:before {
  content: "\e914"; }

.icon-UsersThree2:before {
  content: "\e915"; }

.icon-Wallet:before {
  content: "\e916"; }

.icon-ChatsTeardrop:before {
  content: "\e917"; }

.icon-Student:before {
  content: "\e918"; }

.icon-ArticleMedium:before {
  content: "\e919"; }

.icon-Newspaper:before {
  content: "\e91a"; }

.icon-FileText:before {
  content: "\e91b"; }

.icon-cog:before {
  content: "\e994"; }

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 920px) {
  .container {
    max-width: 807px; } }

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

@media (min-width: 1064px) {
  .hover-transform {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .hover-transform:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px); }
  .hover-transform:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    opacity: 0.8; } }

.dashboard {
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#FFFFFF));
  background: -webkit-linear-gradient(top, #FAFAFA 0%, #FFFFFF 100%);
  background: -o-linear-gradient(top, #FAFAFA 0%, #FFFFFF 100%);
  background: linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 100%);
  position: relative; }
  .dashboard .dashboard__img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 20%; }
    @media (max-width: 1064px) {
      .dashboard .dashboard__img {
        display: none; } }

.dashboard__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 2;
  position: relative; }
  @media (max-width: 1064px) {
    .dashboard__wrapper {
      max-width: 100%;
      display: block; } }

.dashboard-ponel {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 240px;
  flex: 0 0 240px;
  height: 100vh;
  padding: 24px 0px; }
  @media (max-width: 1064px) {
    .dashboard-ponel {
      max-height: 0;
      max-width: 0;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      padding: 0;
      margin: 0; } }

@media (max-width: 640px) {
  .dashboard-ponel__top {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #EFF2F5;
    background: #fff;
    z-index: 99;
    padding: 12px 15px 6px;
    border-radius: 16px 16px 0 0; }
    .dashboard-ponel__top .dashboard-ponel__list {
      font-size: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .dashboard-ponel__top .dashboard-ponel-item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%; }
    .dashboard-ponel__top .dashboard-ponel-item__text {
      font-size: 0;
      max-height: 0;
      max-width: 0; }
    .dashboard-ponel__top .dashboard-ponel-item__icon {
      margin-right: 0; }
    .dashboard-ponel__top a {
      font-size: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
      justify-content: center !important;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.dashboard-logo {
  display: block;
  width: 154px;
  margin-left: 7px;
  margin-bottom: 32px; }
  .dashboard-logo img {
    width: 100%; }
  @media (max-width: 1064px) {
    .dashboard-logo {
      margin-bottom: 0; } }

.dashboard-ponel-item {
  margin-bottom: 5px;
  position: relative; }
  .dashboard-ponel-item:last-child {
    margin-bottom: 0; }
  .dashboard-ponel-item a {
    padding: 11.5px 15px;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .dashboard-ponel-item a.active {
    background: rgba(23, 80, 177, 0.08);
    pointer-events: none; }
  .dashboard-ponel-item a.active .dashboard-ponel-item__icon {
    color: #1750b1; }
  .dashboard-ponel-item a.active .dashboard-ponel-item__text {
    color: #1750b1; }
  .dashboard-ponel-item img {
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  @media (min-width: 1064px) {
    .dashboard-ponel-item a {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .dashboard-ponel-item a:hover {
      background: rgba(23, 80, 177, 0.03); }
    .dashboard-ponel-item a:active {
      -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
      transform: translateY(2px);
      opacity: 0.8; } }

.dashboard-ponel-item__icon {
  font-size: 20px;
  color: #58667e;
  margin-right: 5px;
  -webkit-transform: translate(-16%, 1.5%);
  -ms-transform: translate(-16%, 1.5%);
  transform: translate(-16%, 1.5%); }

.dashboard-ponel-item__text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #58667e; }

.dashboard-ponel-item__number {
  font-family: Lato;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #1750B1;
  background: rgba(23, 80, 177, 0.08);
  padding: 4px 8px;
  border-radius: 24px;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.tema-switch {
  padding: 2px;
  background: #eff2f5;
  border-radius: 24px;
  max-width: 90px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }

.tema-switch__icon {
  font-size: 18px;
  padding: 4px 0;
  color: #58667e;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .tema-switch__icon span {
    position: relative;
    z-index: 2; }
  .tema-switch__icon:first-child:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    border-radius: 24px; }
  .tema-switch__icon:first-child {
    color: #101113; }

/*=====================================*/
.dashboard-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-left: 85px;
  padding-right: 65px; }
  @media (max-width: 1680px) {
    .dashboard-body {
      padding-left: calc(0px + 85 * ((100vw - 320px) / 1360)); } }
  @media (max-width: 1680px) {
    .dashboard-body {
      padding-right: calc(0px + 65 * ((100vw - 320px) / 1360)); } }
  @media (max-width: 1580px) {
    .dashboard-body {
      padding-left: 45px;
      padding-right: 0; } }
  @media (max-width: 1280px) {
    .dashboard-body {
      padding-left: 25px; } }
  @media (max-width: 1064px) {
    .dashboard-body {
      padding-left: 0;
      padding-bottom: 35px; } }

.dashboard-header {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0px;
  border-bottom: 1px solid #eff2f5; }
  @media (max-width: 1064px) {
    .dashboard-header {
      padding: 14px 20px;
      background: #fff;
      margin: 0 -20px;
      margin-bottom: 24px;
      position: relative;
      z-index: 110; } }

.dashboard-header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.dashboard-header__partition {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1px;
  flex: 0 0 1px;
  height: 24px;
  background: #EFF2F5;
  margin: 0 20px; }

.dashboard-header-news {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Proxima Nova;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-family: Lato;
  color: #58667e;
  margin-right: 16px;
  padding-left: 12px;
  padding-top: 2px;
  white-space: nowrap; }
  .dashboard-header-news img {
    margin-right: 6px; }
  .dashboard-header-news .icon-Megaphone {
    font-size: 16.5px;
    margin-right: 6px; }

.dashboard-header-news__blak {
  color: #05060f;
  margin-left: 4px; }

.dashboard-header-icon {
  font-size: 16px;
  color: #58667e;
  margin-left: 3px;
  margin-top: 1px; }
  .dashboard-header-icon .icon-Not-Icon {
    font-size: 32px; }

.dashboard-header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media (max-width: 1064px) {
    .dashboard-header__right {
      max-width: 0;
      max-height: 0;
      display: none;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
      flex: 0 0 0; } }

.dashboard-header-langvig {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px; }

.dashboard-header-langvig__icon {
  font-size: 17px;
  color: #58667e;
  margin-right: 6px; }

.dashboard-header-langvig__text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #05060f; }

.dashboard-header-langvig__arrow {
  font-size: 14px;
  color: #58667e;
  margin-left: 2px; }

.dashboard-header-profile {
  border: 1px solid #cfd6e4;
  background: #eff2f5;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
  color: #cfd6e4;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burger {
  display: none; }

.menu__icon {
  display: none; }

@media (max-width: 1064px) {
  .burger {
    display: block;
    background: #fafafa;
    position: fixed;
    right: -100%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding-top: 85px;
    padding-bottom: 35px;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .burger._active {
      right: 0; }
  .burger-account {
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    background: #fff;
    border: 1px solid #eff2f5;
    border-radius: 16px 16px 0 0;
    margin-bottom: 5px; }
  .burger-account__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48px;
    flex: 0 0 48px;
    height: 48px;
    border: 1px solid #cfd6e4;
    background: #eff2f5;
    border-radius: 50%;
    font-size: 32px;
    color: #a6b0c3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .burger-account__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 10px; }
  .burger-account__title {
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 3px;
    color: #05060f; }
  .burger-account__email {
    max-width: 100%;
    overflow: hidden;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #58667e; }
  .burger-account__icon {
    background: #f4f5f6;
    border-radius: 24px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .burger-news,
  .burger-link,
  .burger-data {
    border: 1px solid #eff2f5;
    background: #fff;
    margin-bottom: 5px;
    padding: 15px; }
    .burger-news > *,
    .burger-link > *,
    .burger-data > * {
      width: 100%;
      max-width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  /*====================*/
  .burger-list {
    padding: 15px;
    border: 1px solid #eff2f5;
    background: #fff;
    border-radius: 0 0 16px 16px; }
    .burger-list .dashboard-ponel-item a {
      padding: 15px 0; }
    .burger-list .dashboard-ponel-item__icon {
      font-size: 22px;
      margin-right: 10px; }
    .burger-list img {
      width: 22px; }
    .burger-list .dashboard-ponel-item__text {
      font-family: Lato;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      color: #58667e; }
  .burger-langvig {
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #eff2f5;
    padding-top: 15px; }
  .burger-langvig__text {
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #58667e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .burger-langvig__text .icon-planet {
      font-size: 22px;
      margin-right: 10px; }
  .burger-langvig__title {
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #05060f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .burger-langvig__title img {
      margin-left: 4px; }
  .burger-tema {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0; }
  .burger-tema__text {
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #58667e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .burger-tema__text span {
      font-size: 22px;
      margin-right: 10px; }
  .burger-tema__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .burger-tema__content .tema-switch {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
      flex: 0 0 44px; }
    .burger-tema__content .tema-switch > * {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      font-size: 0;
      height: 20px; }
  /*===========================*/
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    height: 40px;
    border-radius: 50%;
    background: #f4f5f6; }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 10px;
    position: absolute;
    height: 5%;
    width: calc(100% - 20px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #000; }
  .menu__icon::before,
  .menu__icon::after {
    content: ""; }
  .menu__icon::before {
    top: 13px; }
  .menu__icon::after {
    bottom: 13px; }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%); }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%); }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%); }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%); } }

.link-copying {
  background: #EFF2F5;
  border-radius: 12px;
  padding: 5px 3px 5px 8px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.link-copying__icon {
  margin-right: 7px; }

.link-copying__content {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  color: #05060F;
  white-space: nowrap; }

.link-copying__button {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #1750B1;
  background: #FFFFFF;
  border-radius: 24px;
  height: 24px;
  width: 44px;
  margin-left: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/*===========*/
.dashboard-header-calendar {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .dashboard-header-calendar img {
    margin-right: 0px;
    -webkit-transform: translateX(-8px);
    -ms-transform: translateX(-8px);
    transform: translateX(-8px); }
  @media (max-width: 1064px) {
    .dashboard-header-calendar img {
      -webkit-transform: translate(0%);
      -ms-transform: translate(0%);
      transform: translate(0%); } }

.dashboard-header-calendar__text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #05060F;
  white-space: nowrap; }
  .dashboard-header-calendar__text .dashboard-header-calendar__text_grey {
    color: #58667E; }

/*======================*/
.dashboard-body__title {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #05060f;
  margin-bottom: 20px;
  margin-left: 3px; }

.dashboard-body__flex {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1240px) {
    .dashboard-body__flex {
      display: block; } }

.dashboard-body-blok.dashboard-body-blok_55 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%; }

.dashboard-body-blok.dashboard-body-blok_45 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 44%;
  flex: 0 0 44%; }

@media (max-width: 1240px) {
  .dashboard-body-blok {
    margin-bottom: 25px; } }

.dashboard-body-blok__item {
  padding: 19px 27px;
  border: 1px solid #eff2f5;
  background: #fff;
  margin-bottom: 5px; }
  .dashboard-body-blok__item:first-child {
    border-radius: 24px 24px 0 0; }
  .dashboard-body-blok__item:last-child {
    border-radius: 0 0 24px 24px; }
  .dashboard-body-blok__item.dashboard-body-blok__item_big {
    border-radius: 24px; }
  @media (max-width: 640px) {
    .dashboard-body-blok__item {
      padding: 12px 14px;
      margin-left: -20px;
      margin-right: -20px; } }

/*====================*/
.schedule-wrapper {
  position: relative; }

.dashboard-schedule__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 18px; }
  @media (max-width: 620px) {
    .dashboard-schedule__flex {
      display: block; } }

.dashboard-schedule__blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 47%;
  flex: 0 0 47%; }
  .dashboard-schedule__blok > img {
    width: 100%; }
  .dashboard-schedule__blok.dashboard-schedule__blok_53 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 51%;
    flex: 0 0 51%;
    padding-top: 0px;
    padding-left: 9px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px); }
  @media (max-width: 1580px) {
    .dashboard-schedule__blok {
      padding-left: 0px; } }
  @media (max-width: 640px) {
    .dashboard-schedule__blok:first-child {
      margin-bottom: 15px; } }

.dashboard-schedule-eye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 9px; }

.dashboard-schedule-eye__text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #05060f; }

.dashboard-schedule-eye__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  max-width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  margin-left: 9px;
  background: #eff2f5;
  color: #a6b0c3;
  font-size: 17px; }

.dashboard-schedule__title {
  font-family: Lato;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #323539;
  margin-bottom: 7px; }

.dashboard-schedule-sub-title {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #58667e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .dashboard-schedule-sub-title .icon-TrendUp {
    font-size: 18px;
    margin-right: 3px;
    position: relative;
    top: 3px; }

.dashboard-schedule-sub-title__icon {
  margin-right: 2px; }

.dashboard-schedule-sub-title__gren {
  color: #16c784;
  margin-right: 4px; }

.dashboard-schedule-sub-title__red {
  color: #EA3943;
  margin-right: 4px; }
  .dashboard-schedule-sub-title__red .icon-TrendUp {
    display: inline-block;
    -webkit-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    transform: rotate(65deg); }

.dashboard-schedule-button {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 380px; }
  @media (max-width: 640px) {
    .dashboard-schedule-button {
      max-width: 100%; } }

.dashboard-schedule-button__irem {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31%;
  flex: 0 0 31%;
  border-radius: 12px;
  background: #eff2f5;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #05060f;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .dashboard-schedule-button__irem.active {
    background: #1750b1;
    color: #fff; }

.schedule {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
  max-width: 100%;
  max-height: 140px;
  height: 140px; }
  .schedule .apexcharts-series path {
    stroke: #eff2f5;
    stroke-width: 6;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .schedule .apexcharts-series path[selected="true"] {
    stroke-width: 0; }
  .schedule .apexcharts-tooltip {
    opacity: 0 !important;
    pointer-events: none !important; }
  .schedule .apexcharts-inner {
    -webkit-transform: translate(0%) scale(1) !important;
    -ms-transform: translate(0%) scale(1) !important;
    transform: translate(0%) scale(1) !important;
    width: 100%; }
  .schedule .apexcharts-pie > * {
    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important; }
  .schedule .apexcharts-align-center {
    position: absolute;
    padding: 0;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    overflow: visible;
    top: 0 !important;
    max-width: 40%; }
  .schedule .apexcharts-legend-text {
    padding-left: 0;
    margin-left: 0;
    overflow: visible;
    display: block; }
  .schedule .apexcharts-legend-series {
    width: 130%;
    max-width: 130%;
    position: relative;
    left: -30%; }
  .schedule .apexcharts-legend-marker {
    max-height: 0;
    max-width: 0; }
  .schedule .apexcharts-legend {
    /*width: 100%;
		max-width: 58%;*/ }
  .schedule._active {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translate(0%);
    -ms-transform: translate(0%);
    transform: translate(0%); }
  @media (min-width: 1064px) {
    .schedule .apexcharts-legend-text:hover .schedule-button__item {
      background: #eff2f5; } }
  @media (max-width: 1240px) {
    .schedule .apexcharts-align-center {
      top: 30px !important;
      width: 100%;
      max-width: 40%; }
    .schedule .apexcharts-legend-series {
      width: 100%;
      max-width: 100%;
      position: relative;
      left: 0%; } }
  @media (max-width: 1240px) {
    .schedule {
      max-height: 160px; } }
  @media (max-width: 1064px) {
    .schedule .apexcharts-align-center {
      top: 2.7vw !important;
      width: 100%;
      max-width: 20vw; }
    .schedule .apexcharts-legend-series {
      width: 100%;
      max-width: 100%;
      position: relative;
      left: 0%; } }
  @media (max-width: 620px) {
    .schedule {
      max-height: none;
      height: 40vw; }
      .schedule .apexcharts-align-center {
        top: 2.7vw !important;
        width: 100%;
        max-width: 45vw; }
      .schedule .apexcharts-legend-series {
        width: 100%;
        max-width: 100%;
        position: relative;
        left: 0%; } }

.schedule-title {
  position: absolute;
  left: 1%;
  top: 1%;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: none; }

.schedule-title__title {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 3px;
  color: #05060f; }

.schedule-title__text {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #58667e; }

.schedule-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  pointer-events: none;
  height: 100%;
  overflow: hidden;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.schedule-button__item {
  padding: 6px 5px 6px 8px;
  background: rgba(239, 242, 245, 0);
  border-radius: 12px;
  margin-bottom: 6px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 0; }
  .schedule-button__item:last-child {
    margin-bottom: 0; }
  .schedule-button__item._hover {
    background: #eff2f5; }
  @media (min-width: 1064px) {
    .schedule-button__item:hover {
      background: #eff2f5; } }

.schedule-button-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2px;
  padding-left: 4px; }

.schedule-button-title__icon {
  background: rgba(88, 102, 126, 0.5);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8px;
  flex: 0 0 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 7px; }

.schedule-button-title__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #58667e; }
  @media (max-width: 1480px) {
    .schedule-button-title__text {
      font-size: 8px;
      line-height: 10px; } }

.schedule-button-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.schedule-button-content__title {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  color: #05060f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .schedule-button-content__title span {
    max-width: 46px;
    display: inline-block;
    overflow: hidden;
    margin-right: 2px;
    white-space: nowrap; }
  @media (max-width: 1480px) {
    .schedule-button-content__title {
      font-size: 10px;
      line-height: 12px; } }

.schedule-button-content__number {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: #58667e;
  padding-top: 1px; }
  .schedule-button-content__number:after {
    content: "%"; }
  @media (max-width: 1480px) {
    .schedule-button-content__number {
      font-size: 10px;
      line-height: 12px; } }

.schedule-wrapper {
  /*@media (max-width: 640px) {
		display: flex;
		& > *:first-child {
			order: 1;
		}
		& > *:last-child {
			order: -1;
			position: relative;
			transform: translateY(32%);
		}
	}*/ }

/*========================*/
.dashboard-body-check {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: -18px; }
  @media (max-width: 1620px) {
    .dashboard-body-check {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: 0px; } }

.dashboard-body-check__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 0px;
  border-right: 1px dashed #eff2f5; }
  .dashboard-body-check__item:first-child {
    padding-left: 0; }
  .dashboard-body-check__item:last-child {
    padding-right: 0;
    border: none; }
  @media (max-width: 1620px) {
    .dashboard-body-check__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0;
      margin: 8px 0;
      border-right: none;
      padding-right: 7px; }
      .dashboard-body-check__item:nth-child(2n) {
        border-left: 1px dashed #eff2f5;
        padding-left: 7px;
        padding-right: 0; } }

.dashboard-body-check__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 40px;
  background: #eff2f5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.dashboard-body-check__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-left: 8px; }

.dashboard-body-check__title {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #58667e;
  margin-bottom: 6px; }
  @media (max-width: 360px) {
    .dashboard-body-check__title {
      font-size: 10px;
      line-height: 14px; } }

.dashboard-body-check__text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #101113; }
  @media (max-width: 360px) {
    .dashboard-body-check__text {
      font-size: 12px;
      line-height: 16px; } }

/*=============================================*/
.dashboard-story-button {
  background: #eff2f5;
  padding: 2px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 17px; }
  .dashboard-story-button._active .dashboard-story-button__item:first-child:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  .dashboard-story-button._active .dashboard-story-button__item:first-child {
    color: #58667e; }
  .dashboard-story-button._active .dashboard-story-button__item:last-child {
    color: #05060f; }

.dashboard-story-button__item {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #58667e;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }
  .dashboard-story-button__item span {
    display: inline-block;
    z-index: 2; }
  .dashboard-story-button__item:first-child {
    color: #05060f; }
  .dashboard-story-button__item:first-child:before {
    content: "";
    position: absolute;
    display: block;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 12px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  @media (max-width: 390px) {
    .dashboard-story-button__item {
      font-size: 11px; } }

.dashboard-stor__wrapper {
  position: relative;
  overflow: hidden; }
  .dashboard-stor__wrapper > * {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    top: 5%; }
  .dashboard-stor__wrapper > *:first-child {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; }
  .dashboard-stor__wrapper._active > *:first-child {
    position: absolute;
    right: auto;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    top: 5%; }
  .dashboard-stor__wrapper._active > *:last-child {
    position: relative;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
    top: 0; }

.dashboard-stor__list {
  padding-top: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.dashboard-stor-item {
  padding: 11.5px 6px;
  border-bottom: 1px dashed #eff2f5;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-right: 2px; }
  .dashboard-stor-item:last-child {
    border-bottom: none; }

.dashboard-stor-item__data {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  .dashboard-stor-item__data > div {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 15px; }

.dashboard-stor-item__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 40px;
  background: #eff2f5;
  border-radius: 50%;
  font-size: 23px;
  color: #a6b0c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 4px; }

.dashboard-stor-item__title {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #05060f;
  margin-bottom: 8px; }

.dashboard-stor-item__text {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #a6b0c3; }

.dashboard-stor-item__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px); }

.dashboard-stor-item__number {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 5px;
  color: #05060f;
  margin-bottom: 4px; }
  .dashboard-stor-item__number.dashboard-stor-item__number_red {
    color: #ea3943; }

.dashboard-stor-item__status {
  font-family: Lato;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #a6b0c3;
  padding-left: 14px;
  position: relative; }
  .dashboard-stor-item__status:before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background: #a6b0c3;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%; }
  .dashboard-stor-item__status.dashboard-stor-item__status_grin:before {
    background: #16c784; }

.dashboard-invest {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 2px; }
  @media (max-width: 640px) {
    .dashboard-invest {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.dashboard-invest__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 40px;
  background: #eff2f5;
  border-radius: 50%;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 640px) {
    .dashboard-invest__icon {
      height: auto;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
      flex: 0 0 24px;
      background: none; }
      .dashboard-invest__icon img {
        width: 100%; } }

.dashboard-invest__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 10px; }
  @media (max-width: 640px) {
    .dashboard-invest__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-right: 0;
      padding-left: 8px; } }

.dashboard-invest__title {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #58667e;
  margin-bottom: 8px; }
  @media (max-width: 640px) {
    .dashboard-invest__title span {
      font-size: 0;
      max-width: 0; } }

.dashboard-invest__content {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #05060f; }

.dashboard-invest__well {
  color: #58667e; }

.dashboard-invest__buttons {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }
  @media (max-width: 640px) {
    .dashboard-invest__buttons {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 8px; } }

.dashboard-invest__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  height: 32px;
  border-radius: 12px;
  margin-left: 6px;
  background: #eff2f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 640px) {
    .dashboard-invest__button {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
      flex: 0 0 31%;
      max-width: 31%;
      margin-left: 0;
      font-family: Lato;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      color: #05060F; }
      .dashboard-invest__button img {
        max-height: 0;
        max-width: 0;
        pointer-events: none;
        opacity: 0; } }

.dashboard-token {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 2px; }
  @media (max-width: 640px) {
    .dashboard-token {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.dashboard-token__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 40px;
  background: #eff2f5;
  border-radius: 50%;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 640px) {
    .dashboard-token__icon {
      height: auto;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
      flex: 0 0 24px;
      background: none; }
      .dashboard-token__icon img {
        width: 100%; } }

.dashboard-token__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 10px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .dashboard-token__wrapper .dashboard-token__blok {
    margin-top: 0; }
  @media (max-width: 640px) {
    .dashboard-token__wrapper {
      padding-right: 0;
      padding-left: 8px; } }

.dashboard-token__blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%; }
  @media (max-width: 640px) {
    .dashboard-token__blok {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin-top: 12px; } }

.dashboard-token__title {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #58667e;
  margin-bottom: 8px; }
  @media (max-width: 640px) {
    .dashboard-token__title {
      margin-bottom: 0; }
      .dashboard-token__title span {
        font-size: 0;
        max-width: 0; } }

.dashboard-token__content {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #05060f; }
  .dashboard-token__content.dashboard-token__content_grin {
    color: #16c784; }

.dashboard-token__well {
  color: #58667e; }

.dashboard-token-timer {
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #ebb324;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 12px;
  border-radius: 12px;
  background: #fff0c9; }
  .dashboard-token-timer .icon-Clock2 {
    font-size: 16px;
    margin-right: 4px; }
  .dashboard-token-timer .icon-Info {
    margin-left: 4px;
    font-size: 16px; }
  .dashboard-token-timer ._timer-content {
    min-width: 64px;
    padding-left: 4px; }
  @media (max-width: 640px) {
    .dashboard-token-timer {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; } }

.dashboard-partner {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 13px 2px 16px; }
  @media (max-width: 640px) {
    .dashboard-partner {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.dashboard-partner__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 40px;
  background: #eff2f5;
  border-radius: 50%;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 640px) {
    .dashboard-partner__icon {
      height: auto;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
      flex: 0 0 24px;
      background: none; }
      .dashboard-partner__icon img {
        width: 100%; } }

.dashboard-partner__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 10px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .dashboard-partner__wrapper > *:first-child {
    padding-right: 16px; }
  @media (max-width: 640px) {
    .dashboard-partner__wrapper {
      padding: 0;
      padding-left: 8px; }
      .dashboard-partner__wrapper .dashboard-partner__blok {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }

.dashboard-partner__title {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #58667e;
  margin-bottom: 6px; }
  @media (max-width: 640px) {
    .dashboard-partner__title {
      margin-bottom: 0; }
      .dashboard-partner__title span {
        font-size: 0;
        max-width: 0; } }

.dashboard-partner__content {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #05060f; }

.dashboard-partner__well {
  color: #58667e; }

.dashboard-partner__buttons {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }
  @media (max-width: 640px) {
    .dashboard-partner__buttons {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 8px;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; } }

.dashboard-partner__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
  height: 32px;
  border-radius: 12px;
  margin-left: 6px;
  background: #eff2f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 640px) {
    .dashboard-partner__button {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      font-family: Lato;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      color: #05060F; }
      .dashboard-partner__button img {
        max-height: 0;
        max-width: 0;
        pointer-events: none;
        opacity: 0; } }

/*==================*/
.dashboard-partner-withdraw {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 14px 0 24px; }
  @media (max-width: 640px) {
    .dashboard-partner-withdraw {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
      margin-top: 12px; } }

.dashboard-partner-withdraw__title {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  color: #58667e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 4px; }
  .dashboard-partner-withdraw__title span {
    font-size: 16px;
    margin-left: 4px; }

.dashboard-partner-withdraw__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.dashboard-partner-withdraw__strip {
  background: #eff2f5;
  border-radius: 12px;
  padding: 5px 7px;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative; }
  .dashboard-partner-withdraw__strip span {
    display: block;
    height: 8px;
    background: #1750b1;
    width: 0%;
    max-width: 100%;
    position: relative;
    z-index: 2;
    border-radius: 12px; }
  .dashboard-partner-withdraw__strip:before {
    content: "";
    width: calc(100% - 14px);
    display: block;
    height: 8px;
    position: absolute;
    background: #fff;
    border-radius: 12px; }

.dashboard-partner-withdraw__number {
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #05060f;
  padding-left: 8px; }
