// =================================================================
// Начало - ""
// =================================================================

// =================================================================
// Конец - ""
// =================================================================



.dashboard {
	background: linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 100%);
}

.dashboard__wrapper {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	max-width: 1680px;
	margin: 0 auto;
	padding: 0 20px;
}


.dashboard-ponel {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex: 0 0 240px;
	height: 100vh;
	padding: 18px 0px;
}



.dashboard-ponel__top {}
.dashboard-logo {
	display: block;
	width: 154px;

	& img {
		width: 100%;
	}
	margin-bottom: 18px;
}

.dashboard-ponel__list {

}
.dashboard-ponel-item {
	& a {
		padding: 13px 15px;
		border-radius: 12px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	& a.active {
		background: rgba(23, 80, 177, 0.08);
	}
	& a.active .dashboard-ponel-item__text{
		color: rgba(23, 80, 177, 1);
	}
}
.dashboard-ponel-item__icon {
	font-size: 18px;
	color: rgba(88, 102, 126, 1);
	margin-right: 12px;
}
.dashboard-ponel-item__text {
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: rgba(88, 102, 126, 1);

}
.dashboard-ponel-item__number {}




.dashboard-ponel__bottom {}
.tema-switch {}
.tema-switch__icon {}
.tema-switch__icon_sun {}
.tema-switch__icon_moon {}



/*=====================================*/



.dashboard-body {
	flex: 1 1 auto;
	padding: 0 20px;
}
.dashboard-header {
	margin-bottom: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 12px;
	border-bottom: 1px solid rgba(239, 242, 245, 1);
}

.dashboard-header__left {
	display: flex;
	align-items: center;
}
.dashboard-header-news {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Proxima Nova;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	font-family: Lato;
	color: rgba(88, 102, 126, 1);
	margin-right: 16px;

	& .icon-Megaphone {
		font-size: 18px;
		margin-right: 4px;
	}
}
.dashboard-header-news__blak {
	color: rgba(5, 6, 15, 1);
	margin-left: 4px;
}



.dashboard-header-icon {
	font-size: 18px;
	color: rgba(88, 102, 126, 1);

	& .icon-Not-Icon {
		font-size: 42px;
	}
}



.dashboard-header__right {
	display: flex;
	align-items: center;
	flex: 1 1 auto;

	justify-content: flex-end;
}

.dashboard-header-langvig {
	font-size: 0;
	display: flex;
	align-items: center;
	margin-right: 20px;

}
.dashboard-header-langvig__icon {
	font-size: 24px;
	color: rgba(88, 102, 126, 1);
	margin-right: 4px;
}
.dashboard-header-langvig__text {
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	color: rgba(5, 6, 15, 1);

}
.dashboard-header-langvig__arrow {
	font-size: 14px;
	color: rgba(88, 102, 126, 1);
}




.icon-Arrow-Caret-Down {}
.dashboard-header-profile {
	border: 1px solid rgba(207, 214, 228, 1);
	background: rgba(239, 242, 245, 1);
	flex: 0 0 32px;
	height: 32px;
	border-radius: 50%;
	margin-left: 20px;

	color: rgba(207, 214, 228, 1);
	font-size: 22px;

	display: flex;
	justify-content: center;
	align-items: center;
}



/*======================*/

.dashboard-body__title {
	font-family: Lato;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	color: rgba(5, 6, 15, 1);

	margin-bottom: 21px;
}

.dashboard-body__flex {
	font-size: 0;
	display: flex;
	justify-content: space-between;

	@media (max-width: 1240px) {
		display: block;
	}
}
.dashboard-body-blok {
	&.dashboard-body-blok_55 {
		flex: 0 0 54%;
	}
	&.dashboard-body-blok_45 {
		flex: 0 0 44%;
	}
	@media (max-width: 1240px) {
		margin-bottom: 25px;
	}
}

.dashboard-body-blok__item {
	padding: 27px;
	border: 1px solid rgba(239, 242, 245, 1);
	background: #fff;
	margin-bottom: 5px;

	&:first-child {
		border-radius: 24px 24px 0 0;
	}
	&:last-child {
		border-radius: 0 0 24px 24px;
	}
	&.dashboard-body-blok__item_big {
		border-radius: 24px;
	}

}


/*====================*/

.dashboard-schedule {}
.dashboard-schedule__flex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 18px;
}
.dashboard-schedule__blok {
	flex: 0 0 47%;

	& > img {
		width: 100%;
	}
}
.dashboard-schedule-eye {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 12px;
}
.dashboard-schedule-eye__text {
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	line-height: 32px;
	color: rgba(5, 6, 15, 1);

}
.dashboard-schedule-eye__icon {
	flex: 0 0 24px;
	max-width: 24px;
	height: 24px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 8px;
	margin-left: 12px;
	background: rgba(239, 242, 245, 1);
	color: rgba(166, 176, 195, 1);
	font-size: 17px;
}
.icon-EyeSlash {}


.dashboard-schedule__title {
	font-family: Lato;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	color: rgba(50, 53, 57, 1);
	margin-bottom: 7px;
}


.dashboard-schedule-sub-title {
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: rgba(88, 102, 126, 1);

	display: flex;
	align-items: center;
}
.dashboard-schedule-sub-title__icon {
	margin-right: 2px;
}
.dashboard-schedule-sub-title__gren {
	color: rgba(22, 199, 132, 1);
	margin-right: 4px;
}



.dashboard-schedule-button {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	max-width: 380px;
}
.dashboard-schedule-button__irem {
	flex: 0 0 31%;
	border-radius: 12px;
	background: rgba(239, 242, 245, 1);

	font-family: Lato;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	color: rgba(5, 6, 15, 1);
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	&.active {
		background: rgba(23, 80, 177, 1);
		color: #fff;
	}
}
.active {}



/*========================*/



.dashboard-body-check {
	font-size: 0;
	display: flex;
	justify-content: space-between;

	@media (max-width: 1620px) {
		flex-wrap: wrap;
	}
}
.dashboard-body-check__item {
	flex: 0 0 25%;
	max-width: 25%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;

	border-right: 1px dashed rgba(239, 242, 245, 1);

	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
		border: none;
	}
	@media (max-width: 1620px) {
		flex: 0 0 49%;
		max-width: 50%;
	}
}
.dashboard-body-check__icon {
	flex: 0 0 40px;
	height: 40px;
	background: rgba(239, 242, 245, 1);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dashboard-body-check__content {
	flex: 1 1 auto;
	padding-left: 8px;
}
.dashboard-body-check__title {
	font-family: Lato;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: rgba(88, 102, 126, 1);

}
.dashboard-body-check__text {
	font-family: Lato;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	color: rgba(16, 17, 19, 1);
}




/*=============================================*/



.dashboard-story-button {
	background: rgba(239, 242, 245, 1);
	padding: 5px;
	border-radius: 12px;

	display: flex;
	justify-content: space-between;
}
.dashboard-story-button__item {
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	color: rgba(88, 102, 126, 1);

	padding: 6px;

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex: 0 0 50%;

	& span {
		display: inline-block;
		z-index: 2;
	}
	&:first-child {
		color: rgba(5, 6, 15, 1);
	}
	&:first-child:before {
		content: "";
		position: absolute;
		display: block;
		background: #fff;
		width: 100%;
		height: 100%;
		z-index: 1;
		border-radius: 12px;
	}
}






/*=====================*/

.dashboard-stor__list {
	margin-top: 24px;
}
.dashboard-stor-item {
	padding: 12px 6px;
	border-bottom: 1px dashed rgba(239, 242, 245, 1);

	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	&:last-child {
		border-bottom: none;
	}
}
.dashboard-stor-item__data {
	font-size: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 auto;

	& > div {
		flex: 1 1 auto;
		padding-left: 6px;
	}
}
.dashboard-stor-item__icon {
	flex: 0 0 40px;
	height: 40px;
	background: rgba(239, 242, 245, 1);
	border-radius: 50%;
	font-size: 23px;
	color: rgba(166, 176, 195, 1);

	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 4px;
}
.icon-Frame {}
.dashboard-stor-item__title {
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	color: rgba(5, 6, 15, 1);
	margin-bottom: 4px;
}
.dashboard-stor-item__text {
	font-family: Lato;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: rgba(166, 176, 195, 1);


}

.dashboard-stor-item__content {
	flex: 1 1 auto;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}
.dashboard-stor-item__number {
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 5px;
	color: rgba(5, 6, 15, 1);
	margin-bottom: 4px;

	&.dashboard-stor-item__number_red {
		color: rgba(234, 57, 67, 1);
	}
}

.dashboard-stor-item__status {
	font-family: Lato;
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	color: rgba(166, 176, 195, 1);
	padding-left: 14px;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 8px;
		height: 8px;
		background: rgba(166, 176, 195, 1);;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		border-radius: 50%;
	}

	&.dashboard-stor-item__status_grin:before {
		background: rgba(22, 199, 132, 1);
	}
}






// =================================================================
// Начало - ""
// =================================================================

// =================================================================
// Конец - ""
// =================================================================








// =================================================================
// Начало - ""
// =================================================================

// =================================================================
// Конец - ""
// =================================================================








// =================================================================
// Начало - ""
// =================================================================

// =================================================================
// Конец - ""
// =================================================================








// =================================================================
// Начало - ""
// =================================================================

// =================================================================
// Конец - ""
// =================================================================








// =================================================================
// Начало - ""
// =================================================================

// =================================================================
// Конец - ""
// =================================================================








// =================================================================
// Начало - ""
// =================================================================

// =================================================================
// Конец - ""
// =================================================================








// =================================================================
// Начало - ""
// =================================================================

// =================================================================
// Конец - ""
// =================================================================
